/* you can add to or change this. */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Eater:regular");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Creepster", cursive;
}

body {
  min-height: 100vh;
  background: #000000;
  /* background: linear-gradient(0 deg, black 90%, black 66%, black 90%, black 100%); */
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.9), transparent),
    url("https://i.pinimg.com/originals/4a/94/a4/4a94a4929157c15f8898b7df63206331.gif");
  /*https://www.wallpaperup.com/uploads/wallpapers/2015/09/17/804923/a75b8f5ba746f9e47563abf41f04d85a.jpg"*/
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.content h1 {
  font-size: 90px;
  letter-spacing: 7px;
  color: rgb(247, 229, 229);
  margin-top: 130px;
}

.btn {
  font-size: 35px;
  letter-spacing: 5px;
  cursor: pointer;
  background-color: rgb(112, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 100px;
  padding: 15px 35px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Card board and cards. */
.wrapper {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background: #000000;
  margin: 5% auto;
  height: 65vh;
}

.cards,
.aCard {
  display: flex;
  align-items: center;
}

.cards {
  height: 65vh;
  width: 80vh;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;
  margin: 3%;
}

.cards .aCard {
  cursor: pointer;
  height: calc(100% / 4 - 3%);
  width: calc(100% / 4 - 3%);
}

.aCard {
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(197 185 185);
}

.front {
  background-image: url("https://cdn.dribbble.com/users/1222918/screenshots/14495856/1_4x.gif?compress=1&resize=400x300");
  background-position: center;
  background-size: cover;
}

.aCard.front:hover {
  transform: scale(1.05);
  transform: rotate(180deg);
}

.aCard.clicked {
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px rgb(112 0 0);
}

.aCard.matched {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 40px rgb(255 255 255);
}

.aCard.shake {
  background-position: center;
  background-size: cover;
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.retry {
  margin-top: 700px;
  font-size: 55px;
  z-index: 1;
  position: absolute;
 
}

.wrapper.hidden {
  transform: none;
  opacity: 0.03;
  z-index: 0;
  cursor: none;
}

/* footer, timer, and scores */
footer {
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 5%;
}

footer .container {
  border-radius: 10px;
  width: 25%;
}

#timer-display,
#high-score,
#current-score {
  padding: 8% 8%;
  color: ghostwhite;
  font-size: 200%;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 2px;
}